{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="content">
  <a href="{% url 'class-add' %}" class="btn btn-outline-primary">Add New Class</a><br>
    <section>
      <!-- Display Pokemon Cards -->
      {% for object in object_list %}
        <div class="student-box">
          <div class="student">
              <p>{{ object.name }}</p>
              <a href="class_list/{{ object.id }}" >Edit</a> |
              <a href="class_list/{{ object.id }}/delete" >Delete</a>
          </div>
        </div>
      {% endfor %}
    </section>
    {% include 'includes/pagination.html' %}
  </div>
{% endblock %}