{% extends 'base.html' %}

{% block content %}
<div class="content">
  <br>
  <div>
    <a href="{% url 'block-list' %}" class="btn btn-primary"> Blocks </a>
    <a href="{% url 'student-list' %}" class="btn btn-primary"> Students </a><br>
  </div><br>
  {% for block, students in students_by_block.items %}
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2" class="bg-dark text-light">{{ block.name }}<th>
        </tr>
        <tr>
          <th>Student Number</th>
          <th>Name</th>
        </tr>
      <thead>
      {% for student in students %}
        <tr>
          <td>{{ student.student_number }}</td>
          <td>{{ student.full_name }}</td>
        </tr>
      {% endfor %}
    </table>
    <br><br>
  {% endfor %}

</div>
{% endblock %}