{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="content">
  <div class="top_btn">
    <a href="{% url 'student-by-block' %}" class="btn btn-primary"> View by Block </a>
  </div>
  <div class="students">
    <a href="{% url 'student-add' %}" class="btn btn-outline-primary">Add student</a>
    <br><br>
    <section class="student-container">
      {% for student in students %}
        <div class="student-box">

            <div class="s_image image_box">
              {% if student.image %}
                <img class="student_image" src="{{ student.image.url }}" alt="{{ student.full_name }} Image">
              {% else %}
                <img class="student_image" src="{% static 'placeholder.png' %}" alt="Placeholder Image">
              {% endif %}
            </div>
            <p class="s_fullname text-center">{{ student.full_name }}</p>
            <p class="s_block text-center">{{ student.block }}</p>

            <p class="s_num">{{ student.student_number }}</p>
            <p class="s_email">{{ student.email }}</p>
            <p class="s_address">{{ student.address}} </p>
            <p class="s_birthdate">{{ student.birthdate}} </p>
            <div class="s_action">
              <a href="student_list/{{ student.id }}" >Edit</a> |
              <a href="student_list/{{ student.id }}/delete" >Delete</a>
            </div>

        </div>
      {% endfor %}
    </section>
</div>
<br>
  {% include 'includes/pagination.html' %}
</div>

{% endblock %}

