{% extends 'base.html' %}
{% load static %}

{% block content %}
<a href="{% url 'student-by-block' %}" class="btn"> View by Block </a>
<a href="{% url 'student-add' %}" class="btn btn-outline-primary">Add New Student</a><br>
<section class="student-container">
  {% for student in students %}
    <div class="student-box">
      <div class="student">
        <p>{{ student.full_name }}</p>
        <p>{{ student.email }}</p>
        {% if student.image %}
          <img class="student_image" src="{{ student.image.url }}" alt="{{ student.full_name }} Image">
        {% else %}
          <!-- Placeholder image if no image is uploaded -->
          <img class="student_image" src="{% static 'placeholder.png' %}" alt="Placeholder Image">
        {% endif %}
        <a href="student_list/{{ student.id }}" >Edit</a> |
        <a href="student_list/{{ student.id }}/delete" >Delete</a>
      </div>
      <br>
    </div>
  {% endfor %}
</section>
{% include 'includes/pagination.html' %}
<style>
  .student_image{
    height: 50px;
    width: 50px;
  }
</style>
{% endblock %}

